{% for table, chains in iptables.items() %}
*{{ table }}

{% for chain, policies in chains.items() %}

:{{ chain }} {{ policies.policy }}

{% for rule in policies.rules | default([]) %}
{% for sport in rule.sports | default(['']) %}
{% for dport in rule.dports | default(['']) %}
-A {{ chain -}}
    {%- if rule.in_interface is defined -%}   {{ ' -i ' ~ rule.in_interface }} {%- endif -%}
    {%- if rule.out_interface is defined -%}  {{ ' -o ' ~ rule.out_interface }} {%- endif -%}
    {%- if rule.source is defined -%}         {{ ' -s ' ~ rule.source }} {%- endif -%}
    {%- if rule.dest is defined -%}           {{ ' -d ' ~ rule.dest }} {%- endif -%}
    {%- if rule.protocol is defined -%}       {{ ' -p ' ~ rule.protocol }} {%- endif -%}
    {%- if sport -%}                {{ ' -p ' ~ sport.split('/')[1] ~ ' --sport ' ~ sport.split('/')[0] }} {%- endif -%}
    {%- if dport -%}                {{ ' -p ' ~ dport.split('/')[1] ~ ' --dport ' ~ dport.split('/')[0] }} {%- endif -%}
    {%- if rule.match is defined -%}          {{ ' -m ' ~ rule.match }} {%- endif -%}
    {%- if rule.state is defined -%}          {{ ' --state ' ~ rule.state }} {%- endif -%}
    {%- if rule.jump is defined -%}           {{ ' -j ' ~ rule.jump }} {%- endif %}

{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}

COMMIT

{% endfor %}
